@model cancer_isp.Models.ArtistFilter
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm">

        <div class="row">
            <div class="col-sm">

                <div class="card login-card">
                    <h5 class="card-header">
                        Artist filter
                    </h5>
                    <div class="card-body">
                        @using (Html.BeginForm("Filter", "Artist", FormMethod.Get))
                        {
                            <div class="form-group">
                                <label>Search</label>
                                @Html.TextBoxFor(model => model.Pseudonym, new { @class = "form-control", @placeholder = "Search" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary mb-2">Filter</button>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.Artists != null && Model.Artists.Any())
                {
                    <div class="card login-card">
                        <ul class="list-group">
                            @foreach (var item in Model.Artists)
                            {
                                <a class="list-group-item" href="@Url.Action("Index", "Artist", new {Id = item.Id})">@item.Pseudonym</a>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</div>