@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm">

        <div class="row">
            <div class="col-sm">
                <div class="card login-card">
                    <h5 class="card-header">
                        Artist registration
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label class="profile-field-title">Artist</label>
                            <br/>
                            <input class="form-control" placeholder="Artist">
                        </div>
                        <div class="form-group">
                            <label class="profile-field-title">Work name</label>
                            <br/>
                            <input class="form-control" placeholder="Work name">
                        </div>
                        <div class="form-group">
                            <label class="profile-field-title">Creation date</label>
                            <br/>
                            <input class="form-control" placeholder="Creation date">
                        </div>
                        <div class="form-group">
                            <label class="profile-field-title">Genre</label>
                            <br/>
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="profile-field-title">Record label</label>
                            <br/>
                            <input class="form-control" placeholder="Record label">
                        </div>
                        <div class="form-group">
                            <label class="profile-field-title">Description</label>
                            <br/>
                            <input class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm">

        <div class="row">
            <div class="col-sm">
            </div>
        </div>

    </div>
</div>