.card, .alert { margin-top: 20px }

.list-group-item > .row > .col > img {
	height: 48px;
	width: 48px;
	margin-right: 10px
}

.list-group-item > .row > .col {
	height: 48px;
	display: flex;
	align-items: center;
}

.list-group-item > .row > .col:nth-child(2) {
	justify-content: right;
}

.card-header > .row > .col {
	display: flex;
	align-items: center;
}

.card-header > .row > .col:nth-child(2) {
	justify-content: right;
}

#filter {
	background-color: #E0E0E0;
}

.card-body > img {
	height: 256px;
	width: 256px;
}

