@import '~bootstrap/dist/css/bootstrap.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

body {
	background-color: #ffffff
}

.login-card {
	margin: 25px 10px 10px 10px;
}

.profile-field-title {
	font-weight: bold;
}