<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>_Layout</title>

    <environment names="Staging.Production">
        <script rel="stylesheet" src="~/dist/styles.css"></script>
    </environment>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" asp-action="Index" asp-controller="Home">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main" class="container">
    @RenderBody()
</main>

<environment names="Development">
    <script src="~/dist/main.js"></script>
</environment>
<environment names="Staging.Production">
    <script src="~/dist/main.js"></script>
</environment>

</body>
</html>