@{
    ViewData["Title"] = "_Message";
    Layout = null;

    var allErrors = ViewData.ModelState.Values.SelectMany(values => values.Errors).ToList();
    var errorMessages = allErrors.Aggregate("", (current, modelError) => $"{current}{modelError.ErrorMessage} ");

    var successMessage = TempData["success"];
}
@if (allErrors.Any())
{
    <br/>
    <div class="alert alert-danger">
        <strong>Error: </strong>@errorMessages
    </div>
}
else if (successMessage != null)
{
    <br/>
    <div class="alert alert-success">
        @successMessage
    </div>
}